<body>

<div class="casual-top">
  <div class="casual-toptext">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    CASUAL</br>
     (カジュアル)
  </div>
 <%= image_tag("casual1.jpg",class: "casual-top_image") %>
</div>

<div class="casual-second_block">
  <div class="casual-setumei">
  全体の色調は、中～高明度、低～中彩度のベージュ<br>
  ・ブラウン系でまとめ、アクセントカラーを配置し<br>
  て対比させ、快活で動きのある空間を演出します。<br>
  小物は高彩度のオレンジやグリーン系をアクセント<br>
  カラーとして用いると効果的です。
  </div>
  <div class="casual-sikisai">
  素材・・・木、プラスチック、木綿<br>
  色彩・・・ベージュ・ブラウン系<br>
    <div class="casual-block1">
      <div class="casual-color-block1">
      </div>

      <div class="casual-color-block2">
      </div>
    </div>
  　　・・・高彩度のアクセントカラー
    <div class="casual-block2">
      <div class="casual-color-block3">
      </div>

      <div class="casual-color-block4">
      </div>
    </div>
  </div>

</div>

<div class="casual-third-block">
</div>
<div class="posts-container">
<% @posts.each do |t| %>
  <div class="post">
     <div class="itiran-photo">
     <%= link_to post_path(t.id) do %>
      <%= image_tag t.image_url, size: "400x320" if t.image? %>
      <% end %>
     </div>
 
  <% if user_signed_in? && current_user.id == t.user_id %>
  <%= link_to "編集する", edit_post_path(t.id) %>
  <%= link_to "削除する", post_path(t.id), method: :delete %>
  <% end %> 

  </div>
  <% end %>
 
</div>
</body>