<body>

<div class="classic-top">
  <div class="classic-toptext">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    classic</br>
     (クラシック)
  </div>
 <%= image_tag("classic9.jpg",class: "classic-top_image") %>
</div>

<div class="classic-second_block">
  <div class="classic-setumei">
  西洋風の伝統様式を表現したスタイルで、重厚で落<br>
  重厚で落ち着いた雰囲気があります。全体の色調を<br>
  低～中明度・中彩度の暖色系とし、マホガニーやウ<br>
  ォールナットなどの低～中明度、低～中彩度の暖色<br>
  系の堅い木材を、床・腰壁・建具・まわり縁などに<br>
  配置します。
  </div>
  <div class="classic-sikisai">
  素材・・・マホガニー、ウォールナット<br>
  　　　　　皮革・大理石　　　　<br>
  色彩・・・低～中明度、低～中彩度の<br>
  　　　　　暖色系
 <div class="classic-block">
  <div class="classic-color-block1">
  </div>

  <div class="classic-color-block2">
  </div>
 </div>
  </div>

</div>

<div class="classic-third-block">
</div>
<div class="posts-container">
  <% @posts.each do |t| %>
  <div class="post">
     <div class="itiran-photo">
      <%= image_tag t.image_url, size: "300x240" if t.image? %><br>
     </div>
      <%= t.genre %><br>
      <%= t.about %><br>
      <%= t.tagu %><br>
      <% if user_signed_in? %>
      <%= link_to t.user.name, user_path(t.user.id) %><br>
      <% if current_user.already_liked?(t) %>
          <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <i class="fas fa-heart fa-bounce animated-hover"></i><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% end %>
    <% else %>
    <i class="far fa-heart"></i><%= t.likes.count %>
   <% end %>
  <% if user_signed_in? && current_user.id == t.user_id %>
  <%= link_to "詳細へ", post_path(t.id) %>
  <%= link_to "編集する", edit_post_path(t.id) %>
  <%= link_to "削除する", post_path(t.id), method: :delete %>
  <% end %> 

  </div>
  <% end %>
 
</div>
</body>