<body>

<div class="classic-top">
  <div class="classic-toptext">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    classic</br>
     (クラシック)
  </div>
 <%= image_tag("classic9.jpg",class: "classic-top_image") %>
</div>

<div class="classic-second_block">
  <div class="classic-setumei">
  西洋風の伝統様式を表現したスタイルで、重厚で落<br>
  重厚で落ち着いた雰囲気があります。全体の色調を<br>
  低～中明度・中彩度の暖色系とし、マホガニーやウ<br>
  ォールナットなどの低～中明度、低～中彩度の暖色<br>
  系の堅い木材を、床・腰壁・建具・まわり縁などに<br>
  配置します。
  </div>
  <div class="classic-sikisai">
  素材・・・マホガニー、ウォールナット<br>
  　　　　　皮革・大理石　　　　<br>
  色彩・・・低～中明度、低～中彩度の<br>
  　　　　　暖色系
 <div class="classic-block">
  <div class="classic-color-block1">
  </div>

  <div class="classic-color-block2">
  </div>
 </div>
  </div>

</div>

<div class="classic-third-block">
</div>
<div class="posts-container">
<% @posts.each do |t| %>
  <div class="post">
     <div class="itiran-photo">
     <%= link_to post_path(t.id) do %>
      <%= image_tag t.image_url, size: "400x320" if t.image? %>
      <% end %>
     </div>
 
  <% if user_signed_in? && current_user.id == t.user_id %>
  <%= link_to "編集する", edit_post_path(t.id) %>
  <%= link_to "削除する", post_path(t.id), method: :delete %>
  <% end %> 
  </div>
  <% end %>
 
</div>
</body>