<body>

<div class="elegant-top">
  <div class="elegant-toptext">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    ELEGANT</br>
     (エレガント)
  </div>
 <%= image_tag("modern1.jpg",class: "elegant-top_image") %>
</div>

<div class="elegant-second_block">
  <div class="elegant-setumei">
  シャープで都会的なスタイル。全体の色調は<br>
  無彩色で明度差のある配色で、小物に高彩度<br>
  色をアクセントカラーとして用いると効果的。<br>
  素材には石・タイル・金属・人工素材などが<br>
  使われ、直線的なラインが特徴。
  </div>
  <div class="elegant-sikisai">
  素材・・・石・タイル・金属・人工素材<br>
  色彩・・・明度差のある無彩色
 <div class="elegant-block">
  <div class="elegant-color-block1">
  </div>

  <div class="elegant-color-block2">
  </div>
 </div>
  </div>

</div>

<div class="elegant-third-block">
</div>
<div class="posts-container">
<% @posts.each do |t| %>
  <div class="post">
     <div class="itiran-photo">
     <%= link_to post_path(t.id) do %>
      <%= image_tag t.image_url, size: "400x320" if t.image? %>
      <% end %>
     </div>
 
  <% if user_signed_in? && current_user.id == t.user_id %>
  <%= link_to "編集する", edit_post_path(t.id) %>
  <%= link_to "削除する", post_path(t.id), method: :delete %>
  <% end %> 
  </div>
  <% end %>
 
</div>
</body>