
<body>
<div class="modern-kensaku">
<div class="kensaku">
<%= form_tag({controller:"posts",action:"modern"}, method: :get) do %>
  <%= text_field_tag :search %>
</div>
<div class="kensaku-submit">
<%= submit_tag '検索'  %>
</div>
<% end %>
</div>

<div class="modern-top">
  <div class="modern-toptext">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    MODERN</br>
    <div class="modern-hurigana">
     ~モダン~
     </div>
  </div>
 <%= image_tag("modern1.jpg",class: "modern-top_image") %>
</div>

<div class="modern-second_block">
  <div class="modern-setumei">
    シャープで都会的なスタイル。全体の色調は<br>
    無彩色で明度差のある配色で、小物に高彩度<br>
    色をアクセントカラーとして用いると効果的。<br>
    素材には石・タイル・金属・人工素材などが<br>
    使われ、直線的なラインが特徴。
  </div>
  <div class="modern-sikisai">
    <div class="modern-iro">
      <p class="color">
      Materialー素材・質感
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      石・タイル・金属・人工素材
      </p>
      <%= image_tag("isi.jpg",class: "modern-setumei-image1") %>
      <%= image_tag("tairu.jpg",class: "modern-setumei-image2") %>
      <%= image_tag("kinzoku.jpg",class: "modern-setumei-image3") %>
    </div>  
    <div class="modern-iro">  
      <p class="color">
      Colorー色
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      明度差のある無彩色
      </p>
      <div class="modern-color-block1"></div>
      <div class="modern-color-block2"></div>
      <div class="modern-color-block3"></div>
    </div>
  </div>
</div>

<div class="modern-third-block">
<p class="osusume">
-オススメ家具サイト-
</p>
</div>

<div class="modern-third-block2">
<a href="https://www.crastina.jp/">
<%= image_tag('modern-kagu1.jpeg', alt: 'モダン', style: 'width: 250px; height: 200;') %>
<p>家具・インテリア通販のクラス<br>
ティーナ 【モダンマーケット】</p>
</a>
<a href="https://flymee.jp/theme/modern/">
<%= image_tag('modern-kagu2.jpeg', alt: 'モダン', style: 'width: 250px; height: 200;') %>
<p>日本最大級の家具通販・インテリア<br>
通販フライミー</p>
</a>
<a href="https://www.mutukistyle.com/category/208">
<%= image_tag('modern-kagu3.jpeg', alt: 'モダン', style: 'width: 250px; height: 200;') %>
<p>MUTUKI</p>
</a>
<a href="https://tabroom.jp/ta_%E3%83%A2%E3%83%80%E3%83%B3/">
<%= image_tag('modern-kagu4.jpeg', alt: 'モダン', style: 'width: 250px; height: 200;') %>
<p>TABROOM（タブルーム）</p>
</a>
</div>

<div class="modern-final-block">
<p class="minnna">
-お気に入りのインテリアを見つけよう-
</p>
</div>
<div class="posts-container">

  <% @posts.each do |t| %>
  <div class="post">
     <div class="itiran-photo">
     <%= link_to post_path(t.id) do %>
      <%= image_tag t.image_url, size: "400x320" if t.image? %>
      <% end %>
     </div>
 
  <% if user_signed_in? && current_user.id == t.user_id %>
  <%= link_to "編集する", edit_post_path(t.id) %>
  <%= link_to "削除する", post_path(t.id), method: :delete %>
  <% end %> 

  </div>
  <% end %>

</div>
