<body>

<div class="natural-top">
  <div class="natural-toptext">
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    NATURAL</br>
     (ナチュラル)
  </div>
 <%= image_tag("natural9.jpg",class: "natural-top_image") %>
</div>

<div class="natural-second_block">
  <div class="natural-setumei">
  床・壁・天井は、基本的に自然素材の色で仕<br>
  上げます。家具は白木やナラ材、籐などでシ<br>
  ンプル・直線的なデザインにし、ファブリッ<br>
  ク（生地）は麻・コットン地などを用います。<br>
  全体の色調は、中～高明度、低～中彩度のベ<br>
  ージュ・ブラウン系でまとめます。
  </div>
  <div class="natural-sikisai">
  素材・・・白木、籐、木綿、麻<br>
  色彩・・・ベージュ・ブラウン系
 <div class="natural-block">
  <div class="natural-color-block1">
  </div>

  <div class="natural-color-block2">
  </div>
 </div>
  </div>

</div>

<div class="natural-third-block">
</div>
<div class="posts-container">
<% @posts.each do |t| %>
  <div class="post">
     <div class="itiran-photo">
     <%= link_to post_path(t.id) do %>
      <%= image_tag t.image_url, size: "400x320" if t.image? %>
      <% end %>
     </div>
 
  <% if user_signed_in? && current_user.id == t.user_id %>
  <%= link_to "編集する", edit_post_path(t.id) %>
  <%= link_to "削除する", post_path(t.id), method: :delete %>
  <% end %> 

  </div>
  <% end %>
 
</div>
</body>