<br>
<br>
<br>
<br>

<p class="new-title">
新規投稿
</p>
<%= link_to "←back", posts_path %>
<%= form_for @post do |f| %>
<div class="new-container">
  <div class="left">
  <p class="image-gazou">
  イメージ画像
  </p>
  <%= image_tag("modern3.jpg",class: "new-image") %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, :size => 10 %>
  </div>
  </div>
  <div class="right">
   <div class="field">
    <%= f.label :ジャンル  %>
    <%= f.select :genre, 
    [["カジュアル", "カジュアル"], 
    ["ナチュラル", "ナチュラル"], 
    ["モダン", "モダン"],
    ["クラシック", "クラシック"],
    ["オーソドックス", "オーソドックス"], 
    ["エレガント", "エレガント"],
    ["シック", "シック"],
    ["アーバン", "アーバン"], 
    ["マニッシュ", "マニッシュ"],
    ["ブルックリン", "ブルックリン"],
    ["エスニック", "エスニック"]], include_blank: "選択して下さい"%>
    </div>
  
    <div class="field">
      <%= f.label :総額   %>

      <%= f.number_field :price, :size => 10 , class:"sougaku"%>
      <%= f.label :万円  %>
    </div>


    <div class="field">
    <%= f.label :コメント  %>
    <%= f.text_field :about, :size => 30 , class: "naiyou"%>
    </div>
    

  </div>
  
</div>

<div class="toukousuru">
<%= f.submit "投稿する" %>
<% end %>
</div>
<br>
<br>
<br>

