<br>
<br>
<br>
<br>
<div class="myname">
    <%= image_tag @post.user.image_url, size: "50x50", class: "circular-image" if @post.user.image? %>
    <%= @post.user.name %><br>
</div>
<div class="toukou-container">
  <div class="left-box">
  <%= image_tag @post.image_url, size: "600x480" if @post.image? %><br>

  <% if user_signed_in? %>
    <%= link_to "編集する", edit_post_path(@post.id) %>
    <%= button_to "削除する", post_path(@post.id), method: :delete %>
    <% if current_user.already_liked?(@post) %>
      <%= button_to post_like_path(id: @post.id, post_id: @post.id), method: :delete do %>
        <i class="fas fa-heart"></i><%= @post.likes.count %>
      <% end %>
    <% else %>
      <%= button_to post_likes_path(id: @post.id, post_id: @post.id), method: :post do %>
        <i class="far fa-heart"></i><%= @post.likes.count %>
      <% end %>
    <% end %>
  <% else %>
    <i class="far fa-heart"></i><%= @post.likes.count %>
  <% end %>

    <h2>いいねしたユーザー</h2>
    <% @post.liked_users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
    <%= link_to "post一覧に戻る", posts_path %>
    </div>
    <div class="right-box">
    <p><%= @post.about %></p><br>
    </div>  
</div>    